In [1]:
import sys

print("Hello World")

x = 10
y = 5
x+y

Hello World

15

In [8]:
print("Hello python world")

name = "tony stark"

print(name)

#first name = "gowthamz"
first_name = "gowtham"

print(first_name)

Hello python world
tony stark
gowtham

In [9]:
first_name = 'gowtham'
last_name = 'kannan'

print(first_name.title())
print(first_name.upper())
print(first_name.lower())

full_name = f'{first_name} {last_name}'

print(full_name)

Gowtham
GOWTHAM
gowtham
gowtham kannan

In [11]:
print("""""my name is Gowtham""""")

""my name is Gowtham

In [15]:
print("Fill in the blank \t")
print("India is the \t populated country")
print("In India we have \n Delhi \n karnataka \n telungana \n west bengal \n punjab")

Fill in the blank
India is the 	 populated country
In India we have
 Delhi
 karnataka
 telungana
 west bengal
 punjab

In [16]:
name = '   Gowtham   '
print(name.strip())
print(name.lstrip())
print(name.rstrip())

Gowtham
Gowtham
   Gowtham

In [17]:
# we can use the #symbol to comment in the code

2+3
x,y,z = 1,2,3
print(x,y,z)
print(x)
print(y)
print(z)

1 2 3
1
2
3

In [20]:
# The difference between Integer and foat is : Float contains decimals where as Integer dosnt contain decimals

1.3+4.5

a = 9.98
b = 2
a+b

11.98

In [21]:
1.4 + 4.5

5.9

In [28]:
#List Data type 

List = ['abc','def','ghi','jkl','mno','pqr']
print(List)
print(List[0])
print(List[1])
print(List[2])
print(List[3])
print(List[4])

['abc', 'def', 'ghi', 'jkl', 'mno', 'pqr']
abc
def
ghi
jkl
mno

In [31]:
List = ['abc','def','ghi','jkl','mno','pqr']
print(List)

List.append('XYZ')
print(List)

List.insert(1,'xyz')
print(List)

['abc', 'def', 'ghi', 'jkl', 'mno', 'pqr']
['abc', 'def', 'ghi', 'jkl', 'mno', 'pqr', 'XYZ']
['abc', 'xyz', 'def', 'ghi', 'jkl', 'mno', 'pqr', 'XYZ']

In [36]:
List = ['abc','def','ghi','jkl','mno','pqr']
print(List)
List.pop()
print(List)
List.pop(1)
print(List)
del List[1]
print(List)

['abc', 'def', 'ghi', 'jkl', 'mno', 'pqr']
['abc', 'def', 'ghi', 'jkl', 'mno']
['abc', 'ghi', 'jkl', 'mno']
['abc', 'jkl', 'mno']

In [42]:
List = ['abc','def','ghi','jkl','mno','pqr']
print(List)
List.reverse()
print(List)
List.sort()
print(List)
len(List)
print(len(List))

['abc', 'def', 'ghi', 'jkl', 'mno', 'pqr']
['pqr', 'mno', 'jkl', 'ghi', 'def', 'abc']
['abc', 'def', 'ghi', 'jkl', 'mno', 'pqr']
6